$backGround: #282c34;
*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: $backGround;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

button{
  display: inline;
}

a{
  text-decoration-line: none;
  &:visited{
    color: white;
  }
}

.brewSummery{
  background-color: $backGround;
  border: 1px solid  #00aeff ;
  padding-bottom: 1em;
  width:90vh;
  max-width: 100%;
  margin: 0 auto;
}

.brewBody{
  width: 100%;

}