$background: #282c34;
$border: #00aeff;

*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

button{
  margin-bottom: 1em;
  display: inline;
  padding: .2em;
}

a{
  color: white;
  text-decoration-line: none;
  &:visited{
    color: white;
  }
}

.pageDisplay{
  margin: 2em;
}

.brewSummery{
  background-color: $background;
  border: 1px solid  $border ;
  width:90vh;
  max-width: 100%;
  margin: 0 auto;
}

.brewBody{
  width: 100%;

}